.wrapper{
    width: 100%;
    max-width: 100%;
    position: relative;
}
.wrapper input{
    width: 100%;
}

.btn-subscribe{
    display: inline-flex;
    align-items: center;
    padding: 7px 28px;
    background: orangered;
    color: #fff;
    border-radius: 12px;
    position: absolute;
    top: 8px;
    right: 10px;
}